
<body>
    <%if (locals.user){%>
<div id = "feed-posts">
    <h4>Posts</h4>
    <form action="post/create" id = "new-post-form" method="POST">
        <textarea name="content" cols="30"rows="3" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
    </form>
</div>
<%}%>
<section id = "posts-list-container">
    <ul><p>
        <%for (post of posts){%>
                <li><%=post.content%>
                <small><%= post.user.name %></small>
                <small>
                    <% if(locals.user&&locals.user.id==post.user.id){%>
                    <a href="/post/destroy/<%=post.id%>">X</a>
                    <%}%>
                </small>
                </li>
        
        <div class = "post-comments">
            <% if(locals.user){%>
                <form action ="/comments/create" method ="POST">
                    <input type="text" name="content" placeholder="Type here to add your comment...">
                    <input type="hidden" name ="post" value="<%=post._id%>">
                    <input type="submit" value="Add comment">
                </form>
                
                <%}%>
                <div class = "post-comments-list">
                    <ul id = "post-comments-<%=post._id%>">
                        <% for(comment of post.comments){%>
                            <p><%=comment.content%>
                            <br>
                            <small><%= comment.user.name%></small>
                    </p>
                            <%}%>
                    </ul>
                </div>
        </div>
        <%}%>
    </p>
    </ul>
</section>
</body>
